*{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 19px;
    margin: 0;
    transition: all ease-in-out 0.2s;
    padding: 0;
}
.App{
    width: 450px;
    position: fixed;
    top: 50%;
    left: 50%;
    box-shadow: rgba(32, 31, 31, 0.267) 0px 0px 20px;
    transform: translate(-50%,-50%);
    height: 550px;
}
.App .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.form h1{
    width: 80%;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    color: rgb(0, 132, 255);
    font-size: 2rem;
    border-bottom: 2px solid rgb(0, 132, 255);
}
.form p{
    padding: 10px;
    font-size: 1.2rem;
    color: rgb(61, 61, 61);
}
.form input{
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 2px solid rgb(141, 141, 141);
    font-size: 1.3rem;
}
.form input:focus{
    border: 2px solid rgb(0, 110, 255);
}
.form .buttons{
    margin-top: 20px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.buttons button{
    outline: none;
    border: none;
    width: 100px;
    border-radius: 8px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.137) 0px 0px 20px;
    padding: 20px 10px;
    background: rgb(0, 140, 255);
}
.buttons button:active{
    transform: scale(0.9);
}